[Unit]
Description=AdGuard
BindsTo=docker.service
After=docker.service
OnFailure=unit-status-mail@%n.service

[Service]
ExecStart=/usr/bin/docker run \
                          --name '%p' \
                          --hostname '%p' \
                          --rm \
                          --network host \
                          --volume '{{ root }}/app/work:/opt/adguardhome/work' \
                          --volume '{{ root }}/app/conf:/opt/adguardhome/conf' \
                          adguard/adguardhome

[Install]
WantedBy=multi-user.target
